@import './base.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(30,30,97,1) 100%, rgba(0,212,255,1) 100%);
    margin: 0;
    padding: 0;

}

b {
    margin: 0;
    padding: 0;
}

h1 h2 h3 h4 h5 h6 {
    margin: 0;
    padding: 0;
}


.header_home {
    width: 100%;
    height: 50px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(43, 43, 116, 1) 100%, rgba(0, 212, 255, 1) 100%);
    position: fixed;
    z-index: 99;
    margin-top: -45px;
    display: flex;
    justify-content: space-between;
}

.logo {
    color: #f1f1f1;
    font-size: 24px;
    padding-top: 5px;
    padding-left: 25px;
}

.end {
    display: flex;
    margin-top: 10px;
    margin-right: 35px;
}

.log {
    color: white;
    cursor: pointer;
}

.sign {
    color: white;
    margin-left: 20px;
    cursor: pointer;
}

.input_home {
    display: flex;
    justify-content: center;
    margin-top: 45px;

}

.num_one {
    border-radius: 8px;
    border: none;
    width: 350px;
    height: 25px;
    background-color: white;
    margin-top: 50px;
    padding-left: 20px;
    cursor: text;
}

.moon {
    position: fixed;
    margin-left: 1350px;
    margin-top: 20px;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 99.5;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(15px);
    background-color: rgba(0, 0, 0, 0.15);

}
.input_big {
    width: 100%;
    height: 80px;
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(43, 43, 116, 1) 100%, rgba(0, 212, 255, 1) 100%);
    display: flex;
    align-items: center;
}

.gig-input {
    margin-left: 150px;
    border-radius: 22px;
    border: none;
    padding-left: 15px;
}

.gig-input:focus {
    outline: none;
}



